<section>
  <article>
    <a href="/challenges">Back</a>
    <header>
      <img src="http://sigil.cupcake.io/{{username}}" alt="user icon for {{username}}" height="60px" width="60px">
      <h2>{{title}}</h2>
    </header>
    <main>
      <h2>{{category}}</h2>
      <p>{{description}}</p>
      <a href="/">Select</a>
    </main>
    <footer>
      <p>This challenge was added by {{username}} on {{added}}.</p>
    </footer>
  </article>
</section>