<section>
  <article>
    <a href="/challenges">Back</a>
    <header>
      <img src="http://sigil.cupcake.io/{{category}}" alt="icon for {{category}}" height="60px" width="60px">
      <h2>{{title}}</h2>
    </header>
    <main>
      <p>{{description}}</p>
      <a href="/">Select</a>
    </main>
    <footer>
      <p>This challenge was added by {{username}} on {{added}}.</p>
    </footer>
  </article>
</section>