<section>
  <ul>
    {{#each allMessages}}
    <li>
      <div>
        <p>{{this.body}}</p>
        <img src="http://sigil.cupcake.io/{{this.username}}" alt="user icon {{this.username}}" height="60px" width="60px">
        <p>{{this.username}}</p>
        <p>{{this.time}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
</section>
<section>
  <a href="/add-message">Add a new message</a>
</section>