<section>
  <h1>Report an Issue</h1>
  <article>
    <main>
      <p>Report an issue with the challenge: {{title}}, added on {{added}} by {{username}}</p>
      <p>The content of this challenge is:</p>
      <p>{{description}}</p>
    </main>
  </article>
  <article>
    {{!--
    <a href="/{{referrer}}/{{id}}">GO BACK</a> --}}
    <form action="/report" method="POST">
      <fieldset>
        <legend>Reporting Form</legend>
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Please tell us about your concern">{{descriptionValue}}</textarea>
        <input type="submit" value="Report">
      </fieldset>
      {{#if error}}
      <span>{{error}}</span>
      {{/if}}
    </form>
  </article>
</section>